body {background-color: #92a8d1;}

dl{
  display: flex;
  justify-content: space-between;
  margin-bottom:0;
}
dd{
  margin: 0;
  height: 20px;
  width: auto;
  padding: 0.25px;
  margin-left: 10%;
  margin-right: 10%;
  font-weight: bold;
  font-family: "Lucida Console", "Courier New", monospace;
}
h1{
  font-weight: bold;
  font-family: "Lucida Console", "Courier New", monospace;
  text-align:center;
}
p{
  font-size: 50px;
  text-align: center;
}
input{
  margin: auto;
  border-radius: 5%;
  width: 50%;
  margin-left: 25%;
}
button{
  width: 10%;
  margin-left: 45%;
  border-radius: 45%;
}