@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

*{
    margin: 0;
    box-sizing: border-box;
}
body{
    background-color: aliceblue;
}

.container{
    margin: 0 30%;
    background: url(/angel-morales/img/luis_diazBoll.jpg) no-repeat;
    background-size: 120% 100%;
    box-shadow: 0px 0px 10px 0px rgba(210, 105, 30, 0.39);
    width: 600px;
    height: 600px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 10px;
}
.content-title{
    display: flex;
    flex-direction: column;
    align-items: stretch;
    text-shadow: rgba(235, 235, 232, 0.737) 1px 1px 2px;
    font-family: 'Roboto Condensed', sans-serif;;
}
.title{
    font-size: 2.4rem;
    color: #fff;
}
.container .subtitle{
    color: aliceblue;
    text-align: end;
}
.color-title{
    color:  rgb(222, 30, 68);
}

.content-page{
    display: flex;
    flex-direction: row;
    font-family: 'Inter', sans-serif;
    color: rgba(255, 255, 255, 0.792);
    font-size: 0.8rem;
    font-weight: bold;
    text-shadow: 0px 1px rgb(190, 47, 76);
    height: 60%;
    bottom: 20%;
}

.content-page .aside-left{
    display: flex;
    flex-direction: column;
    position: relative;
    justify-content: space-around;
    padding-right: 10%;

}

.text-content{
    border-bottom: 3px solid rgba(225, 24, 64, 0.381);
}

.aside-left .text-content-left{
    padding: 0px 95px 0px 0px;
}

.content-page .aside-right{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding-left: 10%;
    align-items: center
}
.aside-left .aside-left-img{
    width: 100px;
    height: 100px;
}

.aside-left-img img{
    width: 100%;
    height: 100%;
}

.footer{
    display: flex;
    flex-direction: row;
    padding: 2px;
    color: rgba(255, 255, 255, 0.792);
    text-shadow: 0px 1px rgba(208, 15, 54, 0.377);
    font-family: 'Inter', sans-serif;
    font-size: 0.9rem;
}

.footer .footer-img{
    width: 100px;
    height: 100px;
    background-color: rgba(255, 255, 255, 0.221);
}

.footer .footer-text{
    width: 158px;
    text-align: center;
    height: 100px;
    background-color: rgba(255, 255, 255, 0.221);
    padding-top: 9px;
    padding-right: 10px;
}

.footer-img img{
    width: 100%;
    height: 100%;
}

