@import url('https://fonts.googleapis.com/css2?family=Overpass:ital,wght@0,400;0,500;1,400&display=swap');

* {
  box-sizing: border-box;
  font-family: Overpass;
}

html {
  height: 100%;
  width: 100%;
}

body {
  height: 100%;
  width: 100%;
  margin: 0;
  background-color: #242424;
  color: #fff;
}
