.game-wrapper{
    background-color: black;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.upper-right-counter{
    position: absolute;
    top: 10px;
    right: 10%;
}

.upper-left-counter{
    position: absolute;
    top: 10px;
    left: 10%;
}

.game-title{
    margin: 0;
}