.drivercontainer {
    justify-content: left;
    margin-left: 65px;
    line-height: 110%;
}

.nameDriver {
    font-size: 20px;
    font-family: Arial, sans-serif;
}

.question {
    font-size: 17px;
    font-family: Arial, sans-serif;
    margin-top: -18px;
    margin-right: 160px;
}