:root{
    --yellow: #ffff66;
}

body{
    margin: 0;
    box-sizing: border-box;
}

#magazine-container{
    height: 100vh;
    width: 75vh;
    background: linear-gradient(
        rgba(0, 0, 0, 0.2), 
        rgba(0, 0, 0, 0.2)
      ), 
      url("./background-image.jpg");
    background-size:cover;
    margin: 0 auto;
}

#magazine-title{
    color: white;
    font-size: 25vh;
    text-align: center;
    margin: 0;
    line-height: 0.8;
}

#magazine-title-description{
    text-align: center;
    font-size: 3vh;
    margin: 0;
    color: var(--yellow);
    line-height: 0;
}

#announcements-container{
    height: 36vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding: 12vh 0;
    width: 72vh;
    margin: 0 auto;
    flex-wrap: wrap;
    align-content: space-between;
}

.announcement-container{
    width: 17vh;
    text-align: left;
    margin: 1vh 0;
}

.announcement-image-container{
    border-radius: 50%;
    overflow: hidden;
}

.announcement-title, .announcement-title-alone{
    font-weight: bold;
    line-height: 0.8;
    margin: 0;
    font-size: 2.5vh;
}
.announcement-title{
    color: white;   
}
.announcement-title-alone{
    color: var(--yellow);
}

.announcement-description{
    margin: 0;
    line-height: 0.8;
    color: white;
    font-weight: lighter;
    font-size: 1.9vh;
}

.announcement-image{
    display: block;
    width: 100%;
}

.text-right{
    text-align: right;
}