html {
    box-sizing: border-box;
  }
  *, *:before, *:after {
    box-sizing: inherit;
  }

body{
    margin: 0;
    background-color: black;
}

#wrapper{
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

#puzzle-container{
    width: 50vmin;
    height: 50vmin;
    border: 1px solid white;
    position: relative;
}

.puzzle-piece{
    background-color: darkblue;
    border: 0.5px solid white;
    color: white;
    position: absolute;  
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}

.puzzle-piece:hover{
    cursor: pointer;
    
}