*{
    box-sizing: border-box;
}
body{
    background-image: url("../src/assets/bosque.jpg");
}

#form, #container, .textBox{
    display: flex;
    justify-content: center;
    align-items:center;  
}

#form, .textBox{
    flex-direction: column;
}

#container{
    height: 100vh;
}

#form{
    width: 350px;
    height: 450px;
    justify-content: space-evenly;  
   background-color: rgba(240, 248, 255, 0.678);
}

.textBox{
    align-items:flex-start;
    height: 70px;
}

input{
    font-size: 20px;
    width: 200px;
}