@import "../../utilities/variables";

.card{
    display: flex;
    justify-content: baseline;
    border-radius: 10px;
    overflow: hidden;
    margin-bottom: 10px;

    &-data-container{
        
        width: min(150px, 50%);

        h2, p{
            margin: 0;
            padding: 2px;
        }
    }

    &-title{
        background-color: $dark-background;

        &.completed{
            background-color: $dark-background-green;
        }
    }

    &-description{
        background-color: $light-background;

        &.completed{
            background-color: $light-background-green;
        }
    }

    &-completed-button{
        &:hover{
            cursor: pointer;
        }
    }
}