@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,400;0,700;1,400&display=swap');

* {
  box-sizing: border-box;
  font-family: 'Roboto Mono', sans-serif;
}

:root {
  --text-primary-color: #fff;
  --text-secondary-color: #bbb;
  --btn-primary-color: #fff;
  --btn-secondary-color: #000;
  --btn-accent-color: #fff;
  --btn-primary-bg-color: #333;
  --btn-secondary-bg-color: #a5a5a5;
  --btn-accent-bg-color: #fea00a;
}

html, body {
  width: 100%;
  height: 100%;
  margin: 0;
}

body {
  background-color: #000;
}

.calculator__container {
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
  height: 100%;
}

.calculator__basic-controls {
  display: grid;
  gap: 0.5rem;
  padding: 2rem;
  grid-template: repeat(5, 1fr) / repeat(4, 1fr);
  flex: 1 2 420px;
  min-width: 420px;
}

.calculator__result {
  padding: 2rem;
  background-color: #111;
  flex: 2 1 auto;
  overflow: auto;
}
.calculator__result > .calculator__result--main {
  color: var(--text-primary-color);
  margin: 0;
  padding: 0 1rem;
  font-size: 3rem;
  letter-spacing: 0.15rem;
  white-space: pre-line;
}

.calculator__result > .calculator__history {
  color: var(--text-secondary-color);
  padding: 0 1rem;
  font-size: 1.5rem;
}

.btn {
  position: relative;
  cursor: pointer;
  appearance: none;
  border: unset;
  padding: 0 2.5rem;
  border-radius: 4rem;
  font-size: 2rem;
  font-weight: bold;
}

.btn.btn--primary {
  color: var(--btn-primary-color);
  background-color: var(--btn-primary-bg-color);
}

.btn.btn--secondary {
  color: var(--btn-secondary-color);
  background-color: var(--btn-secondary-bg-color);
}

.btn.btn--accent {
  color: var(--btn-accent-color);
  background-color: var(--btn-accent-bg-color);
}

.btn.btn--wide {
  grid-column-end: span 2;
}

.btn.btn--right {
  text-align: right;
}

.btn::before {
  position: absolute;
  content: "";
  background-color: currentColor;
  color: inherit;
  border-radius: inherit;
  pointer-events: none;
  inset: 0;
  opacity: 0;
  transition: opacity .2s cubic-bezier(.4,0,.6,1);
}

.btn:hover::before {
  opacity: 0.1;
}