.title {
  justify-content: flex-start;
  display: flex;
  margin-top: -105px;
  margin-right: 200px;
  margin-left: 150px;
  font-size: 45px;
  color: red;
  line-height: 85px;
}

.text-50years{
  justify-content: flex-start;
  display: flex;
  margin-top: -20px;
  margin-right: 200px;
  margin-left: 150px;
  font-size: 25px;
  line-height: 100%;
  font-family: Arial, Helvetica, sans-serif;
}

.f1-logo {
  justify-content: flex-end;
  display: flex;
  margin-top: -30px;
  margin-right: 80px;
  height: 350px;
}

.general-title{
  justify-content: center;
  display: flex;
  font-size: 31.9px;
} 

.grid {
  display: grid;
  grid-template-columns: 50% 50%;
}

.comparation{
  justify-content: flex-right;
  font-size: 30px;
  margin-top: -60px;
  margin-left: 150px;
  line-height: 100%;
  font-family: Arial, Helvetica, sans-serif;
  position: relative;
}

.driverquestion {
  margin-top: -13px;
}

.background {
  background-color: black;
  align-items: center;
  justify-content: center;
  display: flex;
}

.App {
  background: white;
  width: 1000px;
  position: relative;
}

.oriol {
  justify-content: flex-end;
  display: flex;
  margin-left: 394px;
  font-size: 29px;
  line-height: 100%;
  margin-top: 120px;
}

.cart {
  justify-content: flex-end;
  display: flex;
  margin-left: 340px;
  font-size: 23px;
  margin-top: -30px;
  line-height: 100%;
}

.code {
  height: 200px;
  position: absolute;
  right: 0;
  top: -100px;
}

.car {
  height: 100px;
  position: absolute;
  left: 0;
}

.codecontainer {
  width: 100%;
  z-index: 3;
  position: relative;
}

.carcontainer {
  width: 100%;
  z-index: 3;
  position: relative;
}

.bottompanel {
  background-color: red;
  justify-content: center;
  display: flex;
  z-index: 2;
  height: 100px;
}

.empty {
  height: 270px;
}

html, body {
  background-color: #000000;
}

.schumachercontainer {
  width: 100%;
  z-index: 1;
  position: relative;
}

.schumacher {
  position: absolute;
  height: 800px;
  right: 105px;
  top: 105px;
  z-index: 1;
}

.sennacontainer {
  width: 100%;
  z-index: 1;
  position: relative;
  z-index: 2;
}

.senna {
  position: absolute;
  height: 460px;
  z-index: 2;
  right: 80px;
  top: 445px;
}