.title {
  justify-content: flex-start;
  display: flex;
  margin-top: -105px;
  margin-right: 200px;
  margin-left: 70px;
  font-size: 45px;
  color: red;
  line-height: 85px;
}

.text-50years{
  justify-content: flex-start;
  display: flex;
  margin-top: -20px;
  margin-right: 200px;
  margin-left: 70px;
  font-size: 25px;
  line-height: 100%;
  font-family: Arial, Helvetica, sans-serif;
}

.f1-logo {
  justify-content: flex-end;
  display: flex;
  margin-top: -30px;
  margin-right: 80px;
  height: 300px;
}

.general-title{
  justify-content: center;
  display: flex;
  font-size: 20px;
} 

.grid {
  display: grid;
  grid-template-columns: 50% 50%;
}

.App {
  background: #ecf0f1;
  margin-left: 400px;
  margin-right: 400px;
}

.comparation{
  justify-content: left;
  font-size: 30px;
  margin-top: -90px;
  margin-left: 70px;
  line-height: 150%;
  font-family: Arial, Helvetica, sans-serif;
}