body{
    background-color: rgb(15, 18, 20);   
}

section{
    height: 109vh;
}

#magazine-cover{
    background-image: url(images/ramen2.jpg);
    background-size:cover;  
    height: 150vh;
    width: 90vh;
    margin: 0 auto;
    border-radius: 10px;
}

#container{
    display: flex;
    flex-direction: column;
    font-size: 2vh;
    width: 30vh;
    justify-content: flex-end;
}

#footer{
    background-color: rgba(165, 72, 5, 0.587);
    height: 12vh;
    align-items: flex-start;
    padding-left: 5vh; 
}

.title{
    color: rgba(184,178,164,255);
    font-size: 12vh;
    text-align: center;
    margin: 0;
    padding: 15px;
    padding-bottom: 0;
    
}

.subtitle{
    color: rgb(107,71,46);
    font-size: 3vh;
    text-align: center;
    margin: 0;
    margin-bottom: 15px;
}

.author{
    width: 20vh;
    color: rgb(107,71,46);
    background-color:  rgba(184,178,164,255);
    font-weight: bold;
    text-align: center;
    margin: 5px;
    padding: 5px;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
}

span{
    color: rgb(107,71,46);
    font-style: italic;
}

p{
    font-size: 2vh;
    color:rgb(146,65,21);
    width: 15vh;

}

.left{
    position:relative; 
    left:412px; 
}

.right{
    padding-left: 20px;
    margin-top: 0;
    margin-bottom: 1vh;
    
}

.center{
    position:relative; 
    left:50px; 
    margin-top: 0;
}

.bottom{
    position:relative; 
    left:90px; 
    margin: 0;
    padding-top: 2vh;
}

.large{
    font-size: 4vh;
    font-weight: bold;
    padding-top: 15px;
}

.larger{
    font-size: 7vh;
    font-weight: bold;
    padding-top: 15px;
}

.cream-color{
    color: rgba(184,178,164,255);
}

#barcode{
    position: relative;
    left: 392px;
    height: 12vh;
    width: 10vh;
    bottom: 67px;
}

#images{
    height: 10vh;
    width: 10vh;
    border-radius: 60%;
    position: relative;
    bottom: 12vh;
}