*{
  font-family: 'Quicksand', sans-serif;
  font-size: 2vh;
}

.tittle{
  font-family: 'Aboreto', cursive;
  font-family: 'Lora', serif;
  font-family: 'Montserrat', sans-serif;
  font-family: 'Playfair Display', serif;
  text-align: center;
  font-size: 12vw;
  letter-spacing: 0.25em;
  margin: 0;
 
  }

.textColour{
  color: rgb(255, 166, 0);
}

.textStrong{
  font-family: 'Montserrat', sans-serif;
  font-weight: 900;
}

.textBig{
  font-size: 2vw
}

/*content structure*/
.magazineCover{
  width: 40vw;
  height: 100vh;
  background: rgb(255,255,255);
  background: radial-gradient(circle, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 35%, rgba(231,214,182,1) 100%);
  border:1px solid black;
  padding: 20px;
  position: relative;
}

.content{
  width: 40vw;
  position: relative;
}

#fotoBritney{
  position: absolute;
  width: 75%;
  left: 15%;
  bottom: 0%;
}

/*magazine cover layout*/
body{
  display: flex;
  justify-content: center;
  align-items: center;
}

.content{
  display: grid;
  grid-template-columns: 30% auto 20%;    
  grid-template-areas: "tittle tittle tittle"
                       "left . right"
                       "below  below below"
                       "finish finish finish";
 
}

.tittle{
  grid-area: tittle;
}

.right{
  grid-area: right;
  display: flex;
  flex-direction: column;
  text-align: end;
}

.right img{
  justify-content: end;
}

.left{
  display: flex;
  flex-direction: column;
  grid-area: left;

}

.below{
  grid-area: below;
}

.finish{
  grid-area: finish;

}

.magazineCover{
  position: relative;
}

.content{
  position: absolute;
  bottom: 0;
}

.right img{
  position: absolute;
  bottom: 0;
  right: 0;
}

/*mobile responsive*/
@media only screen and (max-width : 900px) {
  .magazineCover{
      width: 100%;
  }    
  
  .tittle{
      font-size: 20vw;
      
  }

  .content{
      width: 90%;
  }
  
  #fotoBritney{
      position: absolute;
      width: 75%;
      height: 95%;
      right:  0%;
      bottom: 0%;
  }
  
  .right{
      grid-area: right;
      display: flex;
      flex-direction: column;
      text-align: center;
  
  }
  
  .right img{
      justify-content: center;
  }
  
  .left{
      display: flex;
      flex-direction: column;
      grid-area: left;
  
  }
  
}