body {
    background-image: url(juego.jpg);
    background-size:100vh;
    background-repeat: no-repeat;
    background-position: top;
}
.Titulo {
display: flex;
flex-direction: row;
justify-content: center;
align-items:flex-start;
margin-top: -9%;
}
h1 {
color:white;
font-size: 200px;
font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
text-transform: uppercase;
text-shadow: 3px 3px #000;
}
h2{
color:red;
font-size: 160px;
font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
text-transform: uppercase;
text-shadow: 3px 3px #000;
}
.noticia1 {
display:flex;
flex-direction: column;
justify-content: center;
align-items: center;
margin-top: -8%;
}
h3 {
    color:white;
    font-size: 20px;
    font-family:fantasy;
    text-transform: uppercase;
    width: 30%;
    text-shadow: 2px 2px #000;
    text-align-last:center;
    margin-top: 0%;
    }
.imagen2{
    position: fixed;
    left: 25%;
    bottom:-0.5%    
}
.imagen3{
    position: fixed;
    left: 25%;
    bottom:-0.5%    
}
.imagen4{
    position: fixed;
    left: 34.9%;
    bottom:-4%    
}
.imagen5{
    position: fixed;
    left: 30%;
    bottom:-5%    
}
.imagen6{
    position: fixed;
    left: 24%;
    bottom:-5%    
}
.imagen7{
    position: fixed;
    left: 71%;
    bottom:0%    
}
.imagen8{
    position: fixed;
    right: 71%;
    top:0%    
}
.anuncio1{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top:0%;
    margin-left: 55%;
    text-align-last:center;
    font-family: fantasy;
    color:white;
    width: 15%;
    text-shadow: 2px 2px #000;
}
h4{
    color:greenyellow;
    font-size: 20px;
    font-family:fantasy;
    text-transform: uppercase;
    text-shadow: 2px 2px #000;
    margin-right:5%;
    margin-top:0%;
}
.anuncio2{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top:2%;
    margin-left: 55%;
    text-align-last:center;
    font-family: fantasy;
    color:white;
    width: 16%;
    text-shadow: 2px 2px #000;
}
h5{
    color:greenyellow;
    font-size: 20px;
    font-family:fantasy;
    text-transform: uppercase;
    text-shadow: 2px 2px #000;
    margin-right:5%;
    
}
.anuncio3{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top:0%;
    margin-left: 55%;
    text-align-last:center;
    font-family: fantasy;
    color:white;
    width: 15%;
    text-shadow: 2px 2px #000;
}
h6{
    color:greenyellow;
    font-size: 20px;
    font-family:fantasy;
    text-transform: uppercase;
    text-shadow: 2px 2px #000;
    margin-right:5%;
    
}