body {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 10px;
    background-image: url("./img/palmas.jpeg");
  }
  
  h1{
    color:rgb(146, 158, 249);
    font-family: fantasy;
   }

  #container {
    position: relative;
    width: 350px;
    height: 350px;
    background-color: rgb(75, 123, 228);
    border-radius: 5px;
    box-shadow: 8px 8px 8px 8px  rgb(239, 132, 167);
   
  }
  
  .block {
    position: absolute;
    width: 85px;
    height: 85px;
    background-color: rgb(78, 104, 233);
    color: rgb(41, 48, 38);
    font-size: 55px;
    font-weight: bold;
    text-align: center;
    padding-top: 3px;
    cursor: pointer;
    transition: left 0.2s, top 0.2s;
    border:solid;
    
  }
  .white {
    background-color: white;
  }
