body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  background-color: black;
  background-image: url("../src/assets/img/luna.jpg");
  background-repeat: no-repeat;
}

.form {
  background-position: center;
  background-size: 130%;
  height: 500px;
  margin: 10% auto;
  display: block;
  width: 400px;
  border: 2px solid black;
  background-color: rgba(255, 255, 255, 0.678);
  border-radius: 30px;
  box-shadow: inset 4px 5px 7px rgb(236, 236, 239),
    inset -5px -5px 8px rgb(114, 111, 111);
}

h4 {
  color: rgb(0, 0, 0);
  font-size: 50px;
  justify-content: center;
  align-items: center;
  display: flex;
  margin-top: 40px;
  margin-bottom: 20px;
}

input {
  justify-content: center;
  align-items: center;
  display: flex;
  height: 30px;
  width: 200px;
  border-radius: 12px;
}

.box {
  align-items: center;
  height: 400px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  margin-bottom: 30px;
}

button {
  color: white;
  margin-bottom: 60px;
  border-radius: 4px;
  width: 100px;
  height: 30px;
  background-color: rgb(10, 10, 10);
}

h5 {
  font-size: 20px;
}
h1 {
  font-size: 15px;
  justify-content: center;
  align-items: center;
  display: flex;
}
.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  justify-content: space-evenly;
}

.form-group {
  height: 55px;
  margin-bottom: 15px;
}

.button:hover {
  box-shadow: inset 2px 2px 8px rgb(233, 233, 236);
}

label {
  justify-content: start;
  align-items: center;
  display: flex;
  font-size: 20px;
}
