* {
  background-color: rgb(255, 255, 255);
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

h3 {
  color: black;
  justify-content: center;
  align-items: center;
  display: flex;
  margin-top: 130px;
  font-size: 40px;
  text-shadow: 1px 1px 0px rgb(139, 134, 134), 1px 2px 0px rgb(139, 134, 134),
    1px 3px 0px rgb(139, 134, 134), 1px 4px 0px;
}

h2 {
  color: black;
  justify-content: center;
  align-items: center;
  display: flex;
}

.emoji {
  color: aliceblue;
  justify-content: center;
  align-items: center;
  display: flex;
  font-size: 50px;
}

input {
  width: 600px;
  height: 20px;
  color: black;
  margin-top: 40px;
  justify-content: center;
  align-items: center;
  display: flex;
  border-radius: 4px;
}

button {
  background-color: rgb(207, 216, 223);
  width: 50px;
  height: 30px;
  border-radius: 8px;
  display: flex;
  margin-top: 40px;
  margin-left: 20px;
  color: black;
}

.send {
  justify-content: space-around;
  justify-content: center;
  align-items: center;
  display: flex;
}

.startAgain {
  background-color: rgb(208, 215, 221);
  width: 100px;
  height: 40px;
  border-radius: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: black;
  margin-left: 600px;
}
swal {
  background-color: b;
}
